.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 16px 10px 16px;
    text-decoration: none;
    font-size: 15px;
}
  
.navbar a:hover {
    background: transparent;
}
  
.navbar .logo {
    float: left;
    padding: 5px 3px 0px 5px;
    margin: 0px 10px;
}

.navbar .logo:hover {
    background: transparent;
}

.navbar .logo img {
    width: 35px;
}