pre {
    border: 1px solid #ccc;
}
  
blockquote {
    font-style: italic;
    margin: 0;
    padding-left: 30px;
    border-left: 5px #ccc solid;
}
  
tr {
    border-top: 1px solid #ccc;
}
  
th,td {
    padding: 5px 10px;
    border: 1px solid #ccc;
}